
@{
    ViewBag.Title = "Index";
}

<h2>To-Do List</h2>


<table class="table">
    <thead>
    <tr>
        <th>#</th>
        <th>Text</th>
        <th>Date/Time Added</th>
        <th>Completed?</th>
    </tr>
    </thead>
    <tbody>

    </tbody>
</table>